@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);
@import "tailwindcss";


@theme {
  /* This creates classes like 'bg-brand', 'text-brand' */
  --color-gray-light: #949494ff;
  --color-gray-dark: #2b2b2bff;
  
  /* This overrides the default sans font so 'font-sans' uses Rubik */
  --font-rubik: "Rubik", sans-serif;
  --font-rubik-light: 300;
  --font-rubik-medium: 500;
  --font-rubik-bold: 700;
}